* {
  box-sizing: border-box;
  
}
.studio {
  margin: 0 auto;
  text-align: center;
}

.saved-canvas {
  border: black solid 3px;
  margin: 2% auto;
  text-align: center;
}
.loaded-canvas {
  border: black solid 3px;
  margin: auto 0;
  text-align: center;
}

.color-picker-container {
  margin: 2%;
}

.add-button {
padding: 1% 2%;
margin: 1%;
}

.tool-button {
  padding: .5% .75%;
 
}

