* {
  box-sizing: border-box;
  
}
.studio { 
 
  text-align: center;
  display: flex;
  flex-direction: column;
  max-height: 110vh;
  
}


/* 
.flex-container{
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 align-content: flex-start;
 

} */

.fas.fa-paint-brush {
  font-size: 30px;
}


.saved-canvas {
  border: black solid 3px;
  margin: 2% auto;
  text-align: center;
 
}
.loaded-canvas {
  border: black solid 3px;
  margin:  0 auto;
  text-align: center;
}

.color-picker-container {
  margin: 1% 2% 1%;
  text-align: center;
  align-self: flex-start;
}

.add-button {
padding: 1% 2%;
margin: 1%;
}

.tool-button {
  padding: .5% .75%; 
}

.gallery-select-container, .title-container, .brush-size-container{
  padding: .3%;
}

.brush-label, .title-label {
  padding: 0 1%;
}
