* {
  box-sizing: border-box;
  
}
.studio {
  
 
  text-align: center;
  min-height: 100vh;

 
}

.fas.fa-paint-brush {
  font-size: 30px;
}

/* main {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.saved-canvas {
  border: black solid 3px;
  margin: 2% auto;
  text-align: center;
}
.loaded-canvas {
  border: black solid 3px;
  margin:  0 auto;
  text-align: center;
}

.color-picker-container {
  margin: 3% 2% 1%;
  text-align: center;
}

.add-button {
padding: 1% 2%;
margin: 1%;
}

.tool-button {
  padding: .5% .75%; 
}

.gallery-select-container, .title-container, .brush-size-container{
  padding: .3%;
}

.brush-label, .title-label {
  padding: 0 1%;
}
