#password, #username {
  margin: 8px;
  padding: 1px;
  font-size: 1.5em;
  border: black solid 1px;
}

.error-message{
  color: red;
}

.login-user, .login-password {
  font-size: 1.5em;
}

.login-button {
  font-size: 1.5em;
}

.login-fieldset {
 text-align: center;
  margin: 0px;
  border: none; 
}