#password, #email, #first-name, #last-name, #username {
  margin: 5px;
  padding: 1px;
  font-size: 1.5em;
  border: black solid 1px;
}

.error-message{
  color: red;
}

.reg-label {
  margin-right: 5px;
  font-size: 1.5em;
}

.register-fieldset {
 text-align: center;
  margin: 0px;
  border: none; 
}

.reg-button {
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 50px;
}

