
* {
  box-sizing: border-box;
  
}




 .gallery-page {
  list-style-type: none;
  margin: 150px 0 0px;
  height: 130vh;
  text-align: center;
  padding: 0;
  background-color: rgb(195, 158, 110);
  border-right: black solid 2px;
}


.gallery-list {
  list-style-type: none; 
  margin: 20px 0 20px;
  padding: 0;


}

#error-message{
  font-size: 1.2em;
  color: red;

}

.gallery-list-names:nth-of-type(1){
  background-color: red;
}
.gallery-list-names:nth-of-type(2){
  background-color: orange;
}

.gallery-list-names:nth-of-type(3){
  background-color: yellow;
}
.gallery-list-names:nth-of-type(4){
  background-color: rgb(10, 151, 10)
}

.gallery-list-names:nth-of-type(5){
  background-color: rgb(80, 160, 251);
}
.gallery-list-names:nth-of-type(6){
  background-color: rgb(221, 40, 221)
}
.gallery-list-names:nth-of-type(7){
  background-color: pink;
}

/* .gallery-list-names {
  background-color: pink;
} */




.button {
  padding: 12px 5px;
  margin: 0 5px 5px;
  border-radius: 10%;
  border: 1px solid gray;
  font-size: 1.2em;
  align-self: center;
}

.top-buttons {
  display: flex;
  justify-content: center;
}
.buttons-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.logout-container {
  display:flex;
  justify-content: center;
}

@media screen and (max-width: 850px) {
  .gallery-page {  
    list-style-type: none;
    margin: 0px 0px 0;
    height: 30vh;
    /* text-align: center; */
    padding: 0;
    /* background-color: rgba(238, 189, 126, 0.815);   */
    border: solid 1px black;
    overflow: auto;
   
  }
  .gallery-list {
    list-style-type: none;    
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center; 
    text-align: center;    
  
  }
  
  .buttons-container {
    display:flex;
    flex-direction: row;
    justify-content: center;
  }
  .button {
    font-size: 20px;  
  
  }

  .button.studio {
    display: none;
  }
 
}
  


