
* {
  box-sizing: border-box;
  
}


 .gallery-page {
  list-style-type: none;
  margin: 150px 0 0px;
  height: 130vh;
  text-align: center;
  padding: 0;
  background-color: rgb(195, 158, 110);
  border-right: black solid 2px;
}


.gallery-list {
  list-style-type: none; 
  margin: 20px 0 20px;
  padding: 0;


}

.button {
  padding: 15px;
  margin: 0 5px 5px;
  border-radius: 10%;
  border: 1px solid gray;
  font-size: 20px;
  align-self: center;
}

.top-buttons {
  display: flex;
  justify-content: center;
}
.buttons-container {
  display:flex;
  flex-direction: column;
}

.logout-container {
  display:flex;
  justify-content: center;
}

@media screen and (max-width: 850px) {
  .gallery-page {  
    list-style-type: none;
    margin: 0px 0px 0;
    height: 30vh;
    /* text-align: center; */
    padding: 0;
    /* background-color: rgba(238, 189, 126, 0.815);   */
    border: solid 1px black;
    overflow: auto;
   
  }
  .gallery-list {
    list-style-type: none;    
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center; 
    text-align: center;    
  
  }
  
  .buttons-container {
    display:flex;
    flex-direction: row;
    justify-content: center;
  }
  .button {
    font-size: 20px;  
  
  }

  .button.studio {
    display: none;
  }
 
}
  


