
* {
  box-sizing: border-box;
  
}


 .gallery-page {
  list-style-type: none;
  margin: 150px 0 0;
  height: 110vh;
  text-align: center;
  padding: 0;
  background-color: rgba(238, 189, 126, 0.815);  
  border-right: rgba(138, 96, 62, 0.938) solid 2px;
}


.gallery-list {
  list-style-type: none; 
  margin: 20px 0 0;
  padding: 0;


}

.button {
  padding: 15px;
  margin: 0 5px 5px;
  border-radius: 10%;
  border: 1px solid gray;

}

.top-buttons {
  display: flex;
  justify-content: center;
}
.buttons-container {
  display:flex;
  flex-direction: column;
}

/* .gallery-list-names{
  margin-bottom: 8px;
  background-color: rgba(138, 96, 62, 0.938);
  border: rgba(138, 96, 62, 0.938) solid 3px; 
  width: 100%;
} */


