
.App {
  margin: 0 auto;
  padding: 0;  
  font-family: Georgia, serif;
  display: grid;  
  grid-template-areas: "sidebar header" "sidbar main" ;
  grid-template-columns: .5fr 2.3fr; 
  grid-template-rows: 130px 1fr; 
  min-height: 100vh;
  text-align: center;

}


.App__nav {
  background-color: #aaa;
  color: #fff;
  grid-area: sidebar; 
  height: 100vh;
  overflow: auto; 
  
  
}
 .App_header {
  color: #bdbdbd;
  font-family: Georgia, serif;
  grid-area: header;    
  text-shadow: 2px 1px 2px black;
  font-size: 35px;
  text-align: center;

  
} 
.parent-header {
  font-size: 65px;
  color: gray;
  text-shadow: 2px 1px 2px black;
}

.App__main {  
  grid-area: main;
  height: calc(100vh - 120px);
  overflow: auto;  
  background-color: #efefef;
  /* height: 100%;  
  width: 100%; */
  text-align: center;
}

ul{
  list-style: none;
}


